{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="{% static 'manager/js/comments.js' %}"></script>
    <script src="{% static 'manager/js/tabs.js' %}"></script>
</head>
<body>
    <section class="section">
        <article class="container">
            <div class="tabs is-centered" id="menu-comentaries">
                <ul data-container="comments_container">
                    <li class="is-active is-tab-link" id="new"><a data-content="new-comments">Comentários não lidos</a></li>
                    <li class="is-tab-link" id="waiting"><a data-content="waiting-comments">Ler depois</a></li>
                    <li class="is-tab-link" id="contacts"><a data-content="new-contacts">Contatos</a></li>
                </ul>
            </div>
            <section id="comments_container">
                <div id="new-comments">
                    {% for comment in new_comments %}
                    <div class="columns is-centered" id="card-{{comment.id}}">
                        <div class="column is-8">
                            <div class="card">
                                <header class="card-header">
                                    <h1 class="card-header-title">{{comment.user.name}} - {{comment.article.title}}</h1>
                                    <span class="card-header-icon" onclick="readComment({{comment.id}});"><i class="fas fa-times-circle" title='marcar como lido'></i></span>
                                </header>
                                <div class="card-content">
                                    <div class="content">
                                        <p>{{comment.comment}}</p>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <span class="card-footer-item"><a onclick="replyComment({{comment.id}});">Responder</a></span>
                                    <span class="card-footer-item"><a onclick="deleteComment({{comment.id}});">Deletar</a></span>
                                    <span class="card-footer-item"><a onclick="addWaitListComment({{comment.id}});">Responder Depois</a></span>
                                </footer>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h1 class="title has-text-centered">Não há novos comentários.</h1>
                    {% endfor %}

                </div>
                <div id="waiting-comments">
                    {% for comment in waiting_comments %}
                    <div class="columns is-centered" id="card-{{comment.id}}">
                        <div class="column is-8">
                            <div class="card">
                                <header class="card-header">
                                    <h1 class="card-header-title">{{comment.user.name}} - {{comment.article.title}}</h1>
                                    <span class="card-header-icon" onclick="readComment({{comment.id}});"><i class="fas fa-times-circle" title='marcar como lido'></i></span>
                                </header>
                                <div class="card-content">
                                    <div class="content">
                                        <p>{{comment.comment}}</p>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <span class="card-footer-item"><a onclick="replyComment({{comment.id}});">Responder</a></span>
                                    <span class="card-footer-item"><a onclick="deleteComment({{comment.id}});">Deletar</a></span>
                                </footer>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h1 class="title has-text-centered">Não há novos comentários.</h1>
                    {% endfor %}
                </div>
                <div id="new-contacts">
                {% for contact in contacts %}
                <div class="columns is-centered" id="contact-{{contact.id}}">
                    <div class="column is-8">
                        <div class="card">
                            <header class="card-header">
                                <h1 class="card-header-title">{{contact.name}} - {{contact.title}}</h1>
                                <span class="card-header-icon" onclick="readContact({{contact.id}});"><i class="fas fa-times-circle" title='marcar como lido'></i></span>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <p>{{contact.text}}</p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <span class="card-footer-item has-text-link">{{contact.email}}</span>
                            </footer>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h1 class="title has-text-centered">Não há contatos.</h1>
                {% endfor %}
            </div>
            </section>
        </article>
    </section>

    <!-- start template for the reply form -->
    <script id="reply-comment-form-template" type="text/template">
        <div class="column is-8">
            <div class="card">
                <header class="card-header">
                    <h1 class="card-header-title">Título</h1>
                    {% verbatim %}
                    <span class="card-header-icon" onclick="replyFormClose({{id_form}});"><i class="fas fa-times-circle" title='fechar'></i></span>
                    {% endverbatim %}
                </header>
                <div class="card-content">
                    <div class="content">
                        <form id="form-reply">
                            <div class="field">
                                <label class="label">Nome:</label>
                                <div class="control">
                                    <input type="text" name="name" class="input" />
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Mensagem:</label>
                                <div class="control">
                                    <textarea name="text" class="textarea" rows="5"></textarea>
                                </div>
                            </div>
                            {% verbatim %}
                            <input name="comment_id" type="hidden" value="{{id_form}}" />
                            {% endverbatim %}
                            <div class="field">
                                <div class="control">
                                    <button class="button is-link">responder</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- end of comment form -->
</body>
</html>
