<aside class="column">
    <!-- start search box -->
    <form class="" action="#">
        <div class="control has-icons-left">
            <input class="input" type="text" placeholder="Pesquisar por ..." />
            <span class="icon is-left">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </form>
    <!-- end of search box -->

    <!-- start categories -->
    <article class="list-group box">
        <div class="list-title">
            <h1 class="title is-5">Categories</h1>
            <hr />
        </div>
        <div class="list-content">
            <ul>
                <li class="list-item">
                    <div class="level">
                        <a class="list-link">Python: orientado a objectos</a>
                        <spam>(12)</spam>
                    </div>
                </li>
                <li class="list-item">
                    <div class="level">
                        <a class="list-link">Introdução ao Django</a>
                        <spam>(5)</spam>
                    </div>
                </li>
                <li class="list-item">
                    <div class="level">
                        <a class="list-link">Básico HTML e CSS</a>
                        <spam>(23)</spam>
                    </div>
                </li>
                <li class="list-item">
                    <div class="level">
                        <a class="list-link">React Básico</a>
                        <spam>(7)</spam>
                    </div>
                </li>
                <li class="list-item">
                    <div class="level">
                        <a class="list-link">Fazendo um site com Bulma</a>
                        <spam>(9)</spam>
                    </div>
                </li>
            </ul>
        </div>
    </article>
    <!-- end of categories -->

    <!-- start tags -->
    <article class="box">
        <h3 class="title is-5 has-text-centered">Tags</h3>
        <hr />
        <div class="tags">
            <a class="tag is-link">Django</a>
            <a class="tag is-link">Python</a>
            <a class="tag is-link">Javascript</a>
            <a class="tag is-link">Bulma</a>
            <a class="tag is-link">HTML e CSS</a>
            <a class="tag is-link">Reactjs</a>
        </div>
    </article>
    <!-- end of tags -->

    <!-- start catch email -->
    <article class="box has-text-centered catch-email">
        <h1 class="title is-3">Inscreva-se</h1>
        <p class="is-small">Para receber um email mensal com o resumo das novidades.</p>
        <form class="" action="#">
            <div class="control has-icons-left">
                <input class="input" type="text" placeholder="email" />
                <span class="icon is-left">
                    <i class="far fa-envelope"></i>
                </span>
            </div>
        </form>
    </article>
    <!-- end catch email -->
</aside>
