<aside class="column">
    <!-- start search box -->
    <form class="" action="{% url 'search' %}">
        <div class="control has-icons-left">
            <input class="input" name='title' type="text" placeholder="Pesquisar por ..." />
            <span class="icon is-left">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </form>
    <!-- end of search box -->

    <!-- start categories -->
    <article class="list-group box">
        <div class="list-title">
            <h1 class="title is-5">Categories</h1>
            <hr />
        </div>
        <div class="list-content">
            <ul>
                {% for cat in categories %}
                <li class="list-item">
                    <div class="level">
                        <a href="{% url 'search_field' field='category' value=cat.id %}" class="list-link">{{cat.name}}</a>
                        <spam>{{cat.num_articles}}</spam>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </article>
    <!-- end of categories -->

    <!-- start tags -->
    <article class="box">
        <h3 class="title is-5 has-text-centered">Tags</h3>
        <hr />
        <div class="tags">
            {% for tag in tags %}
            <a href="{% url 'search_field' field='tags' value=tag.id %}" class="tag is-link">{{tag}}</a>
            {% endfor %}
        </div>
    </article>
    <!-- end of tags -->

    <!-- start catch email -->
    <article class="box has-text-centered catch-email">
        <h1 class="title is-3">Inscreva-se</h1>
        <p class="is-small">Para receber um email mensal com o resumo das novidades.</p>
        <form id="catch-email">
            {% csrf_token %}
            {% for field in form %}
            <div class="control has-icons-left">
                {{field}}
                <span class="icon is-left">
                    <i class="far fa-envelope"></i>
                </span>
            </div>
            {% endfor %}
            <input id='submit-email' type="submit">
        </form>
    </article>
    <!-- end catch email -->
</aside>

<script>
    let form = document.querySelector('#catch-email');
    form.onsubmit = () => {
        let request = new XMLHttpRequest();
        request.open("POST", {% url 'notify' %}, true);
        request.onload = () => {
            const submit_btn = document.querySelector('#submit-email');
            submit_btn.style.display = 'None';
            const p = document.createElement('p');
            p.className = 'has-text-danger';
            p.innerHTML = 'Registrado com sucesso!';
            form.appendChild(p);
        }
        const data = new FormData();
        data.append('email', form.email.value);
        data.append('csrfmiddlewaretoken', form.csrfmiddlewaretoken.value);
        request.send(data);
        return false;
    }
</script>
