{% extends 'user/base.html' %}
{% load static %}

{% block title %} contato {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/css/read.css' %}" />
{% endblock %}

{% block content %}
<!-- start post -->
<main class="column is-three-quarters-desktop is-12-tablet">
    <article class="post">
        <!-- start image -->
        <div class="image-header has-text-centered">
            <img class="is-800x200" src="https://via.placeholder.com/1000x300" alt="Placeholder image"/>
        </div>
        <!-- end of image -->

        <!-- start text -->
        <div class="content has-text-justified">
            <h1 class="title is-3">Contato</h1>
            <hr class="title-hr" />

            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="field">
                    <label class="label" for="{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <input type="submit" class="button is-danger" value="Enviar"/>
            </form>
        </div>
        <!-- end of text -->
    </article>
</main>
<!-- end of post -->
{% endblock %}
