{% extends 'user/base.html' %}
{% load static %}

{% block title %} Index {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<!-- start posts -->
<main class="column is-three-quarters-desktop is-12-tablet posts">
    <div class="columns post-title is-mobile">
        <div class="column has-text-centered-tablet has-text-centered-mobile has-text-left-desktop is-offset-1-desktop">
            <h1 class="title is-3">Últimos posts</h1>
        </div>
    </div>
    <!-- start row -->
    {% for article in articles %}
    {% if forloop.counter0|divisibleby:2%}
    <div class="columns is-centered">
    {% endif %}
        <!-- start POST -->
        <div class="column is-narrow">
            <a href="{% url 'article' id=article.id %}">
                <div class="card post has-mx-auto">
                    <div class="class-image">
                        <figure class="image">
                            <img src="{{article.image.url}}" alt="Placeholder image"/>
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        {% for tag in article.tags.all %}
                        <span class="tag is-link">{{tag}}</span>
                        {% endfor %}
                        <span class="is-small">{{article.published|date:"d M, Y"}}</span>
                        <span><i class="fa fa-comment"></i> {{article.num_comments}}</span>
                        <h3 class="subtitle is-5">{{article.title}}
                            <!-- <a href="{% url 'article' id=article.id %}">{{article.title}} -->
                        </h3>
                    </div>
                </div>
            </a>
        </div>
        <!-- end of POST -->
    {% if forloop.counter0|divisibleby:2 is False %}
        </div>
        <!-- end row -->
    {% endif %}
    {% if forloop.counter0|divisibleby:2 and forloop.last %}
        </div>
        <!-- end row -->
    {% endif %}
    {% endfor %}

    <!-- start pagination -->
    <div class="columns is-centered is-multiline">
        <article class="column is-three-quarters is-mx-auto">
            <div class="pagination is-centered has-mx-auto" aria-label="pagination">
                {% if articles.has_previous %}
                <a href="?page={{articles.previous_page_number}}" class="pagination-previous">Anterior</a>
                {% endif %}
                {% if articles.has_next %}
                <a href="?page={{articles.next_page_number}}" class="pagination-next">Próximo</a>
                {% endif %}
                <ul class="pagination-list is-marginless">
                    <li>
                        {% if articles.has_previous %}
                        <a href="?page={{articles.previous_page_number}}" class="pagination-link">{{articles.previous_page_number}}</a>
                        {% endif %}
                        <a href="?page={{articles.number}}" class="is-current pagination-link">{{articles.number}}</a>
                        {% if articles.has_next %}
                        <a href="?page={{articles.next_page_number}}" class="pagination-link">{{articles.next_page_number}}</a>
                        {% endif %}
                    </li>
                    <!-- <li>
                        <a class="pagination-link">&hellip;</a>
                    </li> -->
                </ul>
            </div>
        </article>
    </div>
    <!-- end of pagination -->
</main>
<!-- end of posts -->
{% endblock %}

{% block extra %}
<!-- start popular posts -->
<section class="section popular-posts">
    <div class="columns">
        <div class="column is-4 is-offset-1 is-narrow">
            <h3 class="title is-3">Posts populares</h3>
            <hr />
        </div>
    </div>
    <!-- start popular post -->
    {% for article in popular_articles %}
    <div class="columns">
            <div class="column is-11 is-offset-1 is-narrow">
                <a class="" href="{% url 'article' id=article.id %}">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-128x128">
                            <img src="{{article.image.url}}" />
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <div class="content-text">
                                {% for tag in article.tags.all %}
                                <span class="tag is-link">{{tag}}</span>
                                {% endfor %}
                                <span class="is-small">{{article.published|date:"D, d M, y"}}</span>
                                <span><i class="fa fa-comment"></i> {{article.num_comments}}</span>
                                <h3>{{article.title}}</h3>
                            </div>
                        </div>
                    </div>
                </article>
            </a>
            </div>
    </div>
    {% endfor %}
</section>
<!-- end of popular posts -->
{% endblock %}
