<!-- start top menu -->
<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>
            <a role="button" id='menu-button' class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="main-menu" class="navbar-menu">
            <div class="navbar-end">
                <a href="{% url 'index' %}" class="navbar-item">
                    Home
                </a>
                <a href="{% url 'article' id=1 %}" class="navbar-item">
                    Contato
                </a>
                <a class="navbar-item">
                    Sobre o blog
                </a>
            </div>
        </div>
    </nav>
<!-- end of top menu -->
